%div#content
	%h2 Welcome to HAML SASS and Compass
	%form{:method => 'post', :action => '/form'}
		Maybe some text or something...
		%input{:type => 'text', :name => 'sometext'}
		%input{:type => 'submit', :value => 'replace me...'}
