!!! 1.1
%html
	%head
		%title HAMLCompassSASS!
		%link{:rel => 'stylesheet', :href => 'stylesheets/screen.css', :type => 'text/css'}  
	%body#HAML
		%div#container
			%div#header
				%h1 Ruby | Rack | Haml | SASS
				%ul#outside
					%li 
						%a{:title => 'Photo', :href => 'http://photo.rwboyer.com'} Photo
					%li 
						%a{:title => 'Haml', :href => 'http://haml-lang.com'} Haml
					%li 
						%a{:title => 'SASS', :href => 'http://sass-lang.com'} SASS
					%li 
						%a{:title => 'SASS', :href => 'http://compass-style.org'} Compass
				%hr
				%h2.quiet
					%em The source for all things Haml, Sass, Rack, and Ruby...
				%hr
			= yield
			= haml :sidebar_part, :layout => false
			= haml :footer_part, :layout => false
