%div#content
	%h2 Welcome to HAML SASS and Compass
	- @posts.each do |p|
		%p= p
	%p Here is all the crap and other crap that comes in the content section and all of that sutff should be in a div with an id of content.
